{
    order php_server before file_server
    auto_https disable_redirects
    servers :443 {
        protocol {
            allow_h2c
        }
    }
}

{$SERVER_NAME:localhost} {
    root * /app/public

    encode zstd br gzip

    header {
        Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
        Permissions-Policy "browsing-topics=()"
    }

    php_server
}